name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  tests:
    uses: ./.github/workflows/_quality-checks.yml
    with:
      run_lint: true
      run_unit: true
      run_e2e: true