name: Manual Build Test (All OS)

on:
  workflow_dispatch:

jobs:
  build-all:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    uses: ./.github/workflows/_build-package.yml
    with:
      os: ${{ matrix.os }}
      upload_artifacts: true # Enable artifact upload to review build results
